<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予約内容の確認</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <h1>予約内容の確認</h1>
    </header>

    <div class="confirm-card">
        <p class="confirm-message">本当にこの予約を削除しますか？<br>お間違いなければ「キャンセル」ボタンを押してください。</p>
        
        <div class="confirm-item">
            <span>来店日時</span>
            <span>[[${reservation.displaydatetime}]] </span>
        </div>
        <div class="confirm-item">
            <span>メニュー</span>
            <span>[[${reservation.menuname}]]</span>
        </div>
        <div class="confirm-item">
            <span>スタッフ名</span>
            <span>[[${reservation.staffname}]]</span>
        </div>

        <form th:action="@{/reservations/{reservationid}/cancel(reservationid=${reservation.id})}" method="POST">
            <button type="submit" class="top-button">キャンセル（確定）</button>
        </form>
        <form th:action="@{/reservations}" method="GET">
            <input type="hidden" id="username" name="username" value="まなちゃ">
            <input type="hidden" id="userid" name="userid" value="1">
            <button type="submit" class="top-button-ret">予約履歴一覧に戻る</button>
        </form>
    </div>
</body>
</html>