<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予約内容の確認</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <h1>予約内容の確認</h1>
    </header>

    <div class="confirm-card">
        <p class="confirm-message">内容にお間違いがなければ<br>「確定」ボタンを押してください。</p>
        
        <div class="confirm-item">
            <span>お名前</span>
            <span>[[${username}]] 様</span>
        </div>
        <div class="confirm-item">
            <span>メニュー</span>
            <span>[[${menuname}]]</span>
        </div>
        <div class="confirm-item">
            <span>ご予約日</span>
            <span>[[${date}]]</span>
        </div>
        <div class="confirm-item">
            <span>開始時間</span>
            <span>[[${time}]]</span>
        </div>

        <form th:action="@{regist-reservation}" method="POST">
            <input type="hidden" id="username" name="username" value="まなちゃ">
            <input type="hidden" name="date" th:value="${date}">
            <input type="hidden" name="time" th:value="${time}">
            <input type="hidden" name="menuid" th:value="${menuid}">
            <button type="submit" class="top-button">予約を確定する</button>
        </form>
        <form th:action="@{/set-calendar}" method="POST">
            <input type="hidden" id="username" name="username" value="まなちゃ">
            <input type="hidden" name="menuid" th:value="${menuid}">
            <button type="submit" class="top-button-ret">日時選択に戻る</button>
        </form>
    </div>
</body>
</html>