<!DOCTYPE html>
<html lang="ja" xmlns=:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予約システム | メニュー検索画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <h1>
            ユーザーID：<span th:text="${userid}">userid</span>
        </h1>
    </header>
    <main>
        <p>メニューを選択してください</p>
        	<h2>メニュー一覧</h2>

            <table class="menu-list">
                <tr>
                    <th>メニュー名</th><th>詳細</th><th>時間</th><th>料金</th><th>ボタン</th>
                </tr>

                <tr th:each="menu : ${menuList}">
                    <!-- <td th:text="${menu.id}"></td> -->
                    <td th:text="${menu.name}"></td>
                    <td th:text="${menu.detail}"></td>
                    <td th:text="${menu.formattedDuration}"></td>
                    <td th:text="${menu.formattedPrice}"></td>
                    <td>
                        <form th:action="@{/set-calendar}" method="GET">
                            <input type="hidden" name="menuid" th:value="${menu.id}">
                            <button type="submit">このメニューを選択</button>
                        </form>
                    </td>
                </tr>

            </table>
            <form th:action="@{/usertop}" method="GET">
                <button type="submit" class="top-button-ret">トップ画面に戻る</button>
            </form>
    </main>
    <footer>
    </footer>
</body>
</html>