<!DOCTYPE html>
<html lang="ja" xmlns=:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予約システム | 予定日時選択画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <h1>
            <span th:text="${username}">username</span>さん、こんにちは！
        </h1>
        <h2>
            <span th:text="${menuId}">menuId</span>を選択中
        </h2>
    </header>
    <nav class="date-bar">
        <button class="date-item active">4/6(月)</button>
        <button class="date-item">4/7(火)</button>
        <button class="date-item">4/8(水)</button>
        <button class="date-item">4/9(木)</button>
    </nav>


    <main class="time-grid-container">
        <p>希望の時間を選択してください</p>
        <div class="time-grid">
            <button class="time-slot">10:00</button>
            <button class="time-slot status-full" disabled>10:30</button>
            <button class="time-slot">11:00</button>
            <button class="time-slot">11:30</button>
        </div>
    </main>

    <footer class="bottom-nav">
        <div class="summary">
            <p>選択中：<span>4月6日 10:00〜</span></p>
        </div>
        <button class="next-btn">次へ進む</button>
    </footer>
</body>
</html>