<!DOCTYPE html>
<html lang="ja" xmlns=:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予約システム | トップ画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <h1>
            <span th:text="${username}">username</span>さん、こんにちは！
        </h1>
    </header>
    <main>
        <form th:action="@{/select-menu}" method="POST">
        <input type="hidden" id="username" name="username" value="まなちゃ">
        <button class="top-button">新規予約</button>


        <button class="top-button">予約履歴一覧</button>
    </main>
    <footer>
    </footer>
</body>
</html>